@page "/fetchdata"
@using SamuraiBlazor.Domain
@inject HttpClient Http
@inject SamuraiService service

<h1>Samurai List </h1>

<p>This component demonstrates fetching data from the server.</p>

@if (samurais == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var samuri in samurais)
            {
                <tr>
                    <td>@samuri.Id</td>
                    <td>@samuri.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Samurai> samurais;

    protected override async Task OnInitializedAsync()
    {
        samurais = await service.GetSamrai();
    }
  
}
